.reports {
    display: flex;
    /* flex-direction: ; */
    /* background-color: #09285e; */
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

 .red {
    background-color: #09285E !important;
}

.cards .blue {
    background-color: #3b82f6;
}

.cards .green {
    background-color: #22c55e;
}

 .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: rgb(194, 141, 6);
    cursor: pointer;
    transition: 400ms;
}
 .card p.tip {
    font-size: 1em;
    font-weight: 700;
}

 .card p.second-text {
    font-size: .7em;
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.red:hover+.blue {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.blue:hover.red {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}